.layout-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.layout-sidebar {
  width: 260px;
  background-color: #fff;
  border-right: 1px solid var(--border-light);
  display: flex;
  flex-direction: column;
}

.layout-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.layout-header {
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid var(--border-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.layout-main {
  flex: 1;
  overflow-y: auto;
  padding: 2rem;
  background-color: var(--bg-main);
}
